#shirts {
	margin-top: 60px;
}

#cart {
	margin-top: 25px;
}

#price {
	margin-left: 7px;
	margin-top: 5px;
}

#buy{
	margin-top: 5px;
}

#drops {
	margin-top: 5px;
}

#item {
	margin-top: 10px;
}

#butt {
	margin-top: 20px;
}